﻿@model TT.Web.ViewModels.MySkillsViewModel
@using TT.Domain.Statics
@using TT.Web.CustomHtmlHelpers
@{
    ViewBag.Title = "My Spells";
}

@section menu
{
    <li><a href="@Url.Action(MVC.PvP.Play())">Back to game</a></li>
    @if (ViewBag.CanBuySpells)
    {
        <li><a href="@Url.Action(MVC.NPC.TalkToLorekeeper())">Buy Spells</a></li>
    }
    <li>
        <a href="#" class="confirmLink" data-target="#archive">Archive All Spells</a>
        <div id="archive" class="confirmContent" style="display: none;">
            <a href="@Url.Action(MVC.Settings.ArchiveAllMySpells("true"))">Confirm Archive</a>
        </div>
    </li>
    <li>
        <a href="#" class="confirmLink" data-target="#restore">Restore All Spells</a>
        <div id="restore" class="confirmContent" style="display: none;">
            <a href="@Url.Action(MVC.Settings.ArchiveAllMySpells("false"))">Confirm Restore</a>
        </div>
    </li>
    <li><a href="@Url.Action(MVC.Info.GearTool())">Equipment Helper</a></li>
    <li><a href="https://ttwiki.transformation.tf/wiki/browse.php" title="Alyx Portalz's Unofficial TT Wiki">Unofficial Wiki</a></li>
    <li><a href="#" style="color: white !important; cursor: default">Known Spells (@Model.skills.Count() / @ViewBag.TotalLearnableSkills)</a></li>
}

<div class="containerInner">

    <div id="resultPrompt"></div>
    <table id="MySkills" class="table table-hover messageTable dt-responsive">
        <thead>
            <tr>
                <th>Spell Name</th>
                <th>Form Name</th>
                <th>Form Type</th>
                <th>Spell Type</th>
                <th>Description</th>
                <th>Effect</th>
                <th>Archive</th>
            </tr>
            <tr>
                <th colspan="3"><select id="filtermobility" class="form-control"><option value="">Filter...</option></select></th>
                <th colspan="5">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var skill in Model.skills.OrderBy(s => s.SkillSource.FriendlyName))
                {
                    <tr>
                        <td class="playerMediatingNotification">
                            <a href="@Url.Action(MVC.Settings.BookmarkSpell(skill.SkillSource.Id))"><b>@skill.SkillSource.FriendlyName</b></a>
                            @if (skill.IsArchived)
                            {
                                <b id="@skill.Id">(ARCHIVED)</b>
                            }
                            else if (skill.Bookmarked)
                            { 
                                <b id="@skill.Id">(<span class="good glyphicon glyphicon-bookmark"></span>)</b>
                            }
                            else
                            {
                                <b id="@skill.Id"></b>
                            }
                        </td>
                        <td class="formname">
                            @if (skill.SkillSource.FormSource != null)
                            {
                                <b>@skill.SkillSource.FormSource.FriendlyName</b>
                            }
                        </td>
                        <td>
                            @{
                                if (Model.ShouldDisplayGraphic(skill))
                                {
                                    <div class="portrait center-block" style="background-image: url(@Model.GetGraphic(skill)); float: right; bottom: 0;">
                                        @if (skill.SkillSource.MobilityType == PvPStatics.MobilityInanimate || skill.SkillSource.MobilityType == PvPStatics.MobilityPet)
                                        {
                                            <span style="float: right;">@HtmlHelpers.PrintItemTypeIcon(skill.SkillSource.FormSource.ItemSource.ItemType)</span>
                                            <b class="text-hide">@skill.SkillSource.FormSource.ItemSource.ItemType</b>
                                        }
                                        else if (skill.SkillSource.MobilityType == PvPStatics.MobilityFull)
                                        {
                                            <span style="float: right;">@HtmlHelpers.PrintItemTypeIcon(skill.SkillSource.FormSource.Gender)</span>
                                            <b class="text-hide">@skill.SkillSource.FormSource.Gender</b>
                                        }
                                    </div>
                                }
                            }
                        </td>
                        <td class="mobilityClass">
                            @if (skill.SkillSource.MobilityType != null && skill.SkillSource.MobilityType == PvPStatics.MobilityInanimate)
                            {
                                <text>Inanimate</text>
                            }
                            else if (skill.SkillSource.MobilityType != null && skill.SkillSource.MobilityType == PvPStatics.MobilityPet)
                            {
                                <text>Animal/Familiar</text>
                            }
                            else if (skill.SkillSource.MobilityType != null && skill.SkillSource.MobilityType == "curse")
                            {
                                <text>Temporary curse</text>
                            }
                            else if (skill.SkillSource.MobilityType != null && skill.SkillSource.MobilityType == "weaken")
                            {
                                <text>Prestidigitation</text>
                            }
                            else if (skill.SkillSource.MobilityType != null && skill.SkillSource.MobilityType == PvPStatics.MobilityMindControl)
                            {
                                <text>Temporary mind control</text>
                            }
                            else
                            {
                                <text>Animate</text>
                            }
                        </td>
                        <td class="tableCellDescription">@skill.SkillSource.Description</td>
                        @{
                            if (@skill.SkillSource.GivesEffectSource != null)
                            {
                                <td class="effect">@skill.SkillSource.GivesEffectSource.FriendlyName</td>
                            }
                            else
                            {
                                <td>N/A</td>
                            }
                        }
                        <td>
                            @if (skill.SkillSource.Id != PvPStatics.Spell_WeakenId)
                            {
                                @Ajax.ActionLink("[x]", MVC.Settings.ArchiveSpell(skill.SkillSource.Id), new AjaxOptions { UpdateTargetId = "resultPrompt", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnSuccess = "prompt_success", OnFailure = "prompt_failure", OnBegin = "prompt_wait" }, null)
                            }
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@section head
{
    <style>

    .mobilityClass {
        color: darkblue;
        font-style: oblique;
        font-size: 14px;
    }

    .effect {
        color: darkolivegreen;
        font-weight: 900;
    }

    tr {
        border: 1px dashed rgb(161, 105, 105);
        text-align: center;
    }
</style>
}

@section scripts
{
    <script>
    $(document).ready(function () {
        $('#MySkills').dataTable({
            "orderCellsTop": true,
            "initComplete": function () {
                this.api().column(3).every(function () {
                    var column = this;
                    $("#filtermobility").on('change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );

                        column
                            .search(val ? '^' + val + '$' : '', true, false)
                            .draw();
                    });

                    column.data().unique().sort().each(function (d, j) {
                        $("#filtermobility").append('<option value="' + d + '">' + d + '</option>')
                    });
                });
            }
        });
    });

    function prompt_success() {
        var changeNumber = $("#changeNumber").text();

        if ($("#changeMessage").text().indexOf("archived") > 0) {
            $("#" + changeNumber).text("(ARCHIVED)");
        } else {
            $("#" + changeNumber).text("");
        }

    }

    function prompt_wait() {
        $("#resultPrompt").text("Contacting archive...");
    }


    </script>
}